body {
    font-size: 2vmin;
    color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.container {
    box-shadow: 1px 3px 7px 1px #999999;
    border-radius: 15px 15px 15px 15px;
}

#selector {
    color: #5E9D87;
}

#num {
    color: #607C98
}

.phoneContainer {
    background: #E6EBF0;
    height: 50vh;
    width: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px 15px 15px 15px;
    
}

.submitContainer {
    background: #E6EBF0;
    height: 10vh;
    width: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 15px 15px;
}

.submitContainer div {
    margin-right: 0.2vh;
    margin-left: 0.2vh;
}

.titleContainer {
    font-size: 2.5vmin;
    text-align: center;
}

#phoneNumContainer {
    background: #BFCCD9;
    width: 50vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 15px 15px 15px 15px;
}

#responseContainer {
    background: #BFCCD9;
    width: 60vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 15px 15px 15px 15px;
    margin-bottom: 2.5vh;
    height: 100;
}